<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/contact.css">
    <title>Contacts</title>
</head>
<body>
    <header>
        <nav>
          <p id="logo-txt">ProBiz Solutions</p>
          <ul id="nav-links">
            <li><a href="/">Home</a></li>
            <li><a href="/services">Services</a></li>
            <li><a href="#home">Contact Us</a></li>
          </ul>
        </nav>
      </header>

      <main id="home">
        <section id="hero">
          <div id="about-txt">
            <h1>Contact Us</h1>
            <p>Have questions? Reach out to us via email at contact@ProBiz.com or call us at +123 333 2343. We're here to help!</p>
            <a href="/contact"><button class="CTA-btn">Send An Email</button></a>
          </div>
          <img src="/contact.jpg" alt="services image" />
        </section>
</body>
</html>