<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/services.css">
    <title>services</title>
</head>
<body>
    <header>
        <nav>
          <p id="logo-txt">ProBiz Solutions</p>
          <ul id="nav-links">
            <li><a href="/">Home</a></li>
            <li><a href="#home">Services</a></li>
            <li><a href="/contact">Contact Us</a></li>
          </ul>
        </nav>
      </header>

      <main id="home">
        <section id="hero">
          <div id="about-txt">
            <h1>Our Services</h1>
            <p>We provide top-notch services including web development, graphic design, and digital marketing. Our experts are ready to bring your vision to life.</p>
            <a href="/contact"><button class="CTA-btn">Contact Us</button></a>
          </div>
          <img src="/services.jpg" alt="services image" />
        </section>

        <section id="services">

        </section>
</body>
</html>